.posts-container {
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 6rem;
    padding-bottom: 1rem;
}

.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 2rem;
}

.header-left {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    margin: 0 2rem;
}

.header-left .title {
  font-size: 21px;
  font-weight: 600;
}

.posts-header .btn {
    margin: 0 2rem!important;
}

.posts-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem;
}

.post-item {
    display: flex;
    border-radius: 8px;
    background-color: #fff;
    border: solid 1px var(--color-separator);
    padding: 0.7rem;
}

.post-item .listing-card {
    width: 45%;
    border: transparent;
    box-shadow: none;
    cursor: default;
}

.post-item .options-icon {
    display: none;
}

.post-analytics {
    flex: 1;
    padding: 1rem;
    background: #f7f7f7;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: solid 1px var(--color-separator);
}

.analytics-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.analytics-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: white;
  border-radius: 8px;
  border: solid 1px var(--color-separator);
  cursor: pointer;
  transition: 0.15s ease;
}

.stat-item:hover {
  border-color: var(--color-separator-dark);
}

.stat-info {
  display: flex;
  flex-direction: column;
}

.stat-value {
  font-size: 1.25rem;
  font-weight: 600;
}

.stat-label {
  font-size: 0.875rem;
  color: #666;
}

.btn .text {
  top: 0px!important;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .posts-container {
    padding: 0;
  }
  .posts-header {
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
}
  .post-item {
    flex-direction: column-reverse;
  }
  .post-item .listing-card {
    width: auto;
  }
  .analytics-header {
    margin-bottom: 1.5rem;
  }
  .analytics-grid {
    overflow: scroll;
  }
  .posts-list {
    margin: 1rem 0.5rem;
  }
  .post-analytics {
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}